<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyx.dao.UserMapper">

    <select id="userList" resultType="com.cyx.po.UserInfo">
    
        SELECT 
        	user_name AS userName, 
        	nick_name AS nickName, 
        	gender AS gender, 
        	age AS age, 
        	dt_register_time AS dtRegisterTime,
        	dt_create_time AS dtCreateTime , 
        	dt_last_update_time AS dtLastUpdateTime
         FROM t_um_user
        
    </select>
    
</mapper>
